.storeIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.storeIcon:hover {
  transform: scale(1.05);
}

.storeIcon img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.storeIcon a {
  font-size: 1.2em;
  color: #333;
  text-decoration: none;
  transition: color 0.2s;
}

.storeIcon a:hover {
  color: #007BFF;
}
